/* reset.css placeholder */

/* Use the more convenient box model everywhere */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe {
	margin: 0;
	padding: 0;
	border: 0;
}
