/* variables.css placeholder */
:root {
	/* Brand Colors */
	--color-primary: #461312; /* Grace Helping Hands teal */
	--color-primary-dark: #0b544e;
	--color-primary-light: #4f9f98;

	--color-accent: #d4a62a; /* Gold */
	--color-accent-2: #c9c769;
	--color-accent-dark: #b88e20;
	--color-accent-light: #e8c867;

	/* Neutrals */
	--color-white: #ffffff;
	--color-off-white: #f8f8f8;
	--color-light-gray: #e9ecef;
	--color-gray: #6c757d;
	--color-dark-gray: #343a40;
	--color-black: #1c1c1c;
	--color-transparent: #00000000;

	/* Typography */
	--color-heading: #461312;
	--color-body: #4b5563;
	--color-link: var(--color-primary);

	/* Backgrounds */
	--color-bg: #ffffff;
	--color-bg-alt: #f5f7f7;
	--color-section-dark: #0f6b63;
	--color-bg-light-1: #f0eae5;
	--color-bg-light-2: #f0eae5;
	--color-bg-dark-1: #edd7d7;
	--color-bg-dark-2: #461312;

	/* Buttons */
	--color-brand-1: #df804d;

	/* Borders */
	--color-border: #dfe5e8;

	/* Breakpoints */
	--bp-sm: 576px;
	--bp-md: 768px;
	--bp-lg: 992px;
	--bp-xl: 1200px;
	--bp-xxl: 1400px;

	/* Spacing */
	--space-sm: 20px;
	--space-md: 40px;
	--space-lg: 80px;
	--space-xl: 120px;

	/* Typography */
	--font-sans: "Sofia Sans", Inter, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif;

	--hero-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%20200%20200%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18.4046%20100.422C8.31777%20102.425%200.714259%20111.325%200.714259%20122L0.714256%20178C0.714256%20190.15%2010.564%20200%2022.7143%20200H78.7143C89.6402%20200%2098.7058%20192.035%20100.422%20181.595C102.425%20191.682%20111.325%20199.286%20122%20199.286H178C190.15%20199.286%20200%20189.436%20200%20177.286V121.286C200%20110.36%20192.035%20101.294%20181.596%2099.578C191.682%2097.5746%20199.286%2088.6752%20199.286%2078V22C199.286%209.84974%20189.436%202.97894e-06%20177.286%202.44784e-06L121.286%200C110.36%20-4.77585e-07%20101.294%207.96461%2099.5781%2018.4046C97.5747%208.31778%2088.6753%200.71428%2078%200.71428H22C9.84974%200.71428%200%2010.564%200%2022.7143V78.7143C0%2089.6401%207.96462%2098.7058%2018.4046%20100.422Z%22%20fill%3D%22%23727586%22%2F%3E%0A%3C%2Fsvg%3E%20");
}
